.bottom-content-right .border-line h2, .container .info-container .content-right .middle-content-right-2 .border-line h2, .container .info-container .content-right .middle-content-right .border-line-5 h2, .container .info-container .content-right .top-content-right .border-line h2 {
  margin-top: -39px;
  position: absolute;
  background-color: white;
  width: 700px;
  padding-left: 20px;
}

.bottom-content-right .border-line, .container .info-container .content-right .middle-content-right-2 .border-line, .container .info-container .content-right .middle-content-right .border-line-7, .container .info-container .content-right .middle-content-right .border-line-6, .container .info-container .content-right .middle-content-right .border-line-5, .container .info-container .content-right .top-content-right .border-line {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  padding: 25px;
  padding-left: 20px;
  margin-left: -48px;
  position: relative;
  display: flex;
}

body {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.body-container {
  padding: 20px 0 12px;
  width: 1000px;
  margin: 0 auto;
  background-color: #d5d5d5;
}

.body-container {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.body-container .bar {
  background-color: #0184b8;
  padding: 1px 0;
}
.body-container .header h1 {
  color: white;
  margin: 5px 50px 5px 0;
  text-align: right;
  font-weight: 100;
  letter-spacing: 7px;
}

.container {
  margin-top: -12px;
  background-color: white;
}
.container #hidden-p {
  color: white;
}
.container .info-container {
  display: flex;
}
.container .info-container .content-left {
  flex: 1;
}
.container .info-container .content-left .personal-info-bar {
  padding-bottom: 50px;
  margin: 0 30px 50px;
  background-color: #d5d5d5;
  width: 27%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 0 50px 700px 50px;
  border-top-left-radius: 110px;
  border-top-right-radius: 110px;
}
.container .info-container .content-left .personal-info-bar p {
  margin: 0 -20px;
}
.container .info-container .content-left .personal-info-bar .avatar img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: red;
  transform: translateY(12%);
  border: 3px solid white;
}
.container .info-container .content-left .personal-info-bar .info-social, .container .info-container .content-left .personal-info-bar .info-address, .container .info-container .content-left .personal-info-bar .info-website, .container .info-container .content-left .personal-info-bar .info-email, .container .info-container .content-left .personal-info-bar .info-phone, .container .info-container .content-left .personal-info-bar .info-birthday, .container .info-container .content-left .personal-info-bar .info-name-job, .container .info-container .content-left .personal-info-bar .info-text {
  text-align: center;
  color: #0184b8;
  font-size: 18px;
  font-weight: 100;
}
.container .info-container .content-left .personal-info-bar .info-text {
  margin-top: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.container .info-container .content-left .personal-info-bar .info-text .whitespace {
  word-wrap: break-word;
  white-space: nowrap;
}
.container .info-container .content-left .personal-info-bar .info-phone, .container .info-container .content-left .personal-info-bar .info-birthday, .container .info-container .content-left .personal-info-bar .info-name-job {
  margin-top: 0px;
  text-transform: capitalize;
}
.container .info-container .content-left .personal-info-bar .info-social .h, .container .info-container .content-left .personal-info-bar .info-address .h, .container .info-container .content-left .personal-info-bar .info-website .h, .container .info-container .content-left .personal-info-bar .info-email .h, .container .info-container .content-left .personal-info-bar .info-phone .h, .container .info-container .content-left .personal-info-bar .info-birthday .h {
  margin: 5px;
  font-size: 23px;
}
.container .info-container .content-left .personal-info-bar .info-name-job p {
  margin-top: 5px;
}
.container .info-container .content-left .personal-info-bar .info-email {
  text-transform: none;
}
.container .info-container .content-left .personal-info-bar .info-social {
  margin-top: 50px;
}
.container .info-container .content-left .personal-info-bar .info-social .h {
  font-size: 23px;
}
.container .info-container .content-left .personal-info-bar .info-social a {
  text-decoration-line: none;
  color: #0184b8;
}
.container .info-container .content-left .personal-info-bar .info-social .social-link {
  margin-top: 20px;
}
.container .info-container .content-left .personal-info-bar .info-social .social-link a:hover {
  color: black;
}
.container .info-container .content-right {
  flex: 3;
  margin-left: -50px;
  padding-right: 50px;
}
.container .info-container .content-right h2 {
  color: #0184b8;
}
.container .info-container .content-right .top-content-right {
  gap: 20px;
  margin-top: 30px;
  padding-left: 20px;
}
.container .info-container .content-right .top-content-right .experience {
  text-align: right;
}
.container .info-container .content-right .top-content-right .border-line p {
  display: inline-block;
  margin: 0 30px 15px 0;
  text-align: justify;
}
.container .info-container .content-right .top-content-right .border-line .content {
  margin: 0 0 -35px 20px;
}
.container .info-container .content-right .middle-content-right {
  margin: 40px 0 0 20px;
}
.container .info-container .content-right .middle-content-right .border-line-5 .content-5 {
  margin: 0 0 -20px 20px;
}
.container .info-container .content-right .middle-content-right .border-line-5 .content-5 p {
  display: inline-block;
  text-align: justify;
  padding-right: 15px;
  margin-bottom: -20px;
}
.container .info-container .content-right .middle-content-right .border-line-5 .content-5 .content-5-1 {
  padding-left: 30px;
}
.container .info-container .content-right .middle-content-right .border-line-6 {
  border-top: 0px solid black;
}
.container .info-container .content-right .middle-content-right .border-line-6 p {
  display: inline-block;
  text-transform: capitalize;
  margin-top: -20px;
}
.container .info-container .content-right .middle-content-right .border-line-6 .content-6-1 {
  margin-left: 40px;
}
.container .info-container .content-right .middle-content-right .border-line-6 .content-6-2 {
  margin-left: 43px;
}
.container .info-container .content-right .middle-content-right .border-line-6 .content-6-3 {
  margin-left: 25px;
}
.container .info-container .content-right .middle-content-right .border-line-6 .content-6-extra {
  margin: 0 0 -40px 20px;
}
.container .info-container .content-right .middle-content-right .border-line-7 {
  border-top: 0px solid black;
  border-bottom: 0px solid black;
}
.container .info-container .content-right .middle-content-right .border-line-7 .content-7 {
  margin: -30px 0 -20px 20px;
}
.container .info-container .content-right .middle-content-right .border-line-7 .content-7 p {
  display: inline-block;
  text-transform: capitalize;
  margin-top: 30px;
}
.container .info-container .content-right .middle-content-right .border-line-7 .content-7 .content-7-1 {
  margin-left: 20px;
}
.container .info-container .content-right .middle-content-right .border-line-7 .content-7 .content-7-2 {
  margin-left: 43px;
}
.container .info-container .content-right .middle-content-right .border-line-7 .content-7 .content-7-3 {
  margin-left: 22px;
}
.container .info-container .content-right .middle-content-right-2 {
  margin: 40px -150px 0 20px;
}
.container .info-container .content-right .middle-content-right-2 .border-line {
  border-bottom: 0px;
  display: inline-block;
  width: 700px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.container .info-container .content-right .middle-content-right-2 .border-line h2 {
  margin: -15px 0 0 20px;
  text-transform: uppercase;
}
.container .info-container .content-right .middle-content-right-2 .border-line h2 .content .title-project {
  font-size: 14px;
  color: #0184b8;
}

.bottom-content-right {
  display: flex;
  margin: 40px -150px 15px;
}
.bottom-content-right .border-line {
  border-bottom: 0px;
  margin: -50px 0 0 -85px;
  width: 900px;
  padding: 25px 25px 0;
}
.bottom-content-right .border-line h2 {
  width: 900px;
  text-transform: uppercase;
}
.bottom-content-right .border-line h5 {
  color: #0184b8;
}
.bottom-content-right .border-line p {
  font-size: 14px;
  margin-right: 1px;
}

.bottom-content-right {
  padding-top: 50px;
}

footer {
  background-color: #0184b8;
  color: white;
  text-align: center;
  padding: 10px 20px;
  text-align: center;
}

footer > a {
  color: white;
}

/*# sourceMappingURL=styles.css.map */
